@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;

  color-scheme: light dark;
  font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  width: 100%;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  font-optical-sizing: auto;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100dvh;
  width: 100%;
}

button,
textarea {
  font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

strong {
  font-weight: 800;
}

body,
#root {
  width: 100dvw;
  height: 100dvh;
}

.react-flow__attribution {
  display: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 4%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 4%;
    --primary: 0 0% 11%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 11%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 46%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 11%;
    --destructive: 0 0% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 91%;
    --input: 0 0% 91%;
    --ring: 0 0% 4%;
    --chart-1: 0 0% 70%;
    --chart-2: 0 0% 55%;
    --chart-3: 0 0% 40%;
    --chart-4: 0 0% 25%;
    --chart-5: 0 0% 10%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 0 0% 26%;
    --sidebar-primary: 0 0% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 96%;
    --sidebar-accent-foreground: 0 0% 10%;
    --sidebar-border: 0 0% 91%;
    --sidebar-ring: 0 0% 60%;
  }
  .dark {
    --background: 0 0% 1%;
    --border: 0 0% 18%;
    --foreground: 0 0% 98%;
    --card: 0 0% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 11%;
    --secondary: 0 0% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 8%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 0% 17%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 0% 31%;
    --destructive-foreground: 0 0% 98%;
    --input: 0 0% 17%;
    --ring: 0 0% 84%;
    --chart-1: 0 0% 80%;
    --chart-2: 0 0% 65%;
    --chart-3: 0 0% 50%;
    --chart-4: 0 0% 35%;
    --chart-5: 0 0% 20%;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 96%;
    --sidebar-primary: 0 0% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 16%;
    --sidebar-accent-foreground: 0 0% 96%;
    --sidebar-border: 0 0% 16%;
    --sidebar-ring: 0 0% 60%;
  }
  
  .text-md {
    font-size: 14px;
  }

  .text-lg {
    font-size: 16px !important;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes flowDash {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -20;
  }
}

.edge-animated {
  stroke-dasharray: 5; /* length of dash pattern */
  stroke-linecap: round; /* round the dash ends */
  animation: flowDash 1s linear infinite;
}

.resize-handle:hover {
  background-color: rgba(74, 222, 128, 0.2);
}
.resize-handle.dragging {
  background-color: rgba(74, 222, 128, 0.4);
}

.bg-muted {
  background-color: rgba(120, 120, 120, 0.10);
}

.text-muted {
  color: rgba(120, 120, 120, 0.5);
}

.text-muted-foreground {
  color: rgba(255, 255, 255, 0.8);
}


