name: Motia CI

permissions:
  contents: write

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - 'v*' # Match tags that start with "v"

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup

      - name: Run linter
        run: pnpm lint

      - name: Run tests
        run: PATH=python_modules/bin:$PATH pnpm -r run test

  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v') }}
    needs: [quality]

    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.MOTIA_CI_APP_ID }}
          private-key: ${{ secrets.MOTIA_CI_APP_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          token: ${{ steps.generate_token.outputs.token }}

      - name: Setup
        uses: ./.github/actions/setup

      - name: Extract version from tag
        id: extract_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Set version on all packages
        run: |
          pnpm -r --filter "@motiadev/*" exec pnpm version $VERSION --no-git-tag-version
          pnpm -r --filter motia exec pnpm version $VERSION --no-git-tag-version

      - name: Setup NPM authentication
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc

      - name: Publish packages
        run: |
          pnpm publish -r --filter @motiadev/core --no-git-checks
          pnpm publish -r --filter @motiadev/workbench --no-git-checks
          pnpm publish -r --filter @motiadev/stream-client-browser --no-git-checks
          pnpm publish -r --filter @motiadev/stream-client-react --no-git-checks
          pnpm publish -r --filter motia --no-git-checks
          pnpm publish -r --filter @motiadev/test --no-git-checks

      - name: Commit and push the changes
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git fetch origin main:main
          git checkout main
          git add .
          git commit -m "chore: publish packages for version $VERSION"
          git push origin main
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
